{% extends 'base.html.twig' %}

{% block title %}Envoi de l'email
{% endblock %}
{% block header %}Envoi de l'email
{% endblock %}

{% block body %}
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<p>
					Si votre adresse mail correspond à un compte, un email vous sera envoyé.
					<br>
					Si vous ne recevez pas le mail, pensez à regarder dans vos spams, sinon
					<a href="{{ path('app_forgot_password_request') }}">réessayer</a>.
					<br>
					Ce lien expire dans
					{{ resetToken.expirationMessageKey|trans(resetToken.expirationMessageData, 'ResetPasswordBundle') }}.
				</p>
			</div>
		</div>
	</div>
{% endblock %}
