{% extends 'base.html.twig' %}

{% block title %}Hello IndexController!{% endblock %}

{% block annonce %} class="active" {% endblock %}

{% block breadcrumb %}
<li><a href="{{path('route_accueil')}}">Accueil</a></li> 
<li class="active">Les annonces</li>
{% endblock %}

{% block header %} Les annonces {% endblock %}

{% block body %}

		<table>
		{% for a in pAnnonces %}
		<tr>
		<td><a href="{{ path('annonceConsulter', { 'id': a.id }) }}">{{ a.titre }}</a></td>
	{% else %}
		<tr>
		<td>Aucune annonce n'a été trouvé.</td>
		</tr>
	{% endfor %}
</table>
	
{% endblock %}
