{# templates/mentions_legales.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}


{% block header %}
	Mentions légales
{% endblock %}

{% block body %}
	<h2>Propriétaire du site</h2>

	SEL Moment est propriété de l'association SEL Moment, dirigée par Constance Riva. Pour toute correspondance, veuillez utiliser l'adresse suivante : Mairie, Place de la République 50800 Villedieu-les-Poêles-Rouffigny.
	
	<h2>Responsabilité</h2>
	
	L'association SEL Moment décline toute responsabilité quant à l'exactitude, l'exhaustivité ou la pertinence des informations et du contenu fournis sur www.selmoment.fr. Les utilisateurs doivent utiliser ces informations à leurs propres risques.
	
	<h2>Propriété intellectuelle</h2>
	
	Tous les contenus présents sur www.selmoment.fr, y compris les textes, les graphiques, les logos, les images, les clips audio et vidéo, sont la propriété de l'association SEL Moment ou de ses partenaires et sont protégés par les lois sur la propriété intellectuelle.
	
	{# <h2>Liens externes</h2>
	
	Le site www.selmoment.fr peut contenir des liens vers des sites externes qui ne sont pas gérés par l'association SEL Moment. L'association n'a aucun contrôle sur le contenu, les politiques de confidentialité ou les pratiques de ces sites et décline toute responsabilité à leur égard. #}

{% endblock %}
