{# templates/mentions_legales.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}


{% block header %}
	Mentions légales
{% endblock %}

{% block body %}
	<h2>Collecte d'informations personnelles</h2>
	
	Lorsque vous vous inscrivez sur www.selmoment.fr, nous collectons votre nom, votre prénom, votre adresse e-mail, votre adresse postale et votre numéro de téléphone. Ces informations sont utilisées uniquement dans le but de faciliter la communication entre les vendeurs et les proposants.
	
	<h2>Utilisation des informations</h2>
	
	Les informations personnelles que nous recueillons nous aident à mieux comprendre vos besoins et à vous fournir un meilleur service. Nous ne partagerons pas vos informations personnelles avec des tiers sans votre consentement, sauf si la loi l'exige.
	
	<h2>Sécurité</h2>
	
	Nous prenons la sécurité de vos informations personnelles très au sérieux. Des mesures de sécurité appropriées sont en place pour protéger vos informations contre tout accès non autorisé ou toute divulgation.
	
	<h2>Modifications de la politique de confidentialité</h2>
	
	Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Toute modification sera immédiatement publiée sur le site www.selmoment.fr.

{% endblock %}
