{# templates/error/access_denied.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Accès refusé{% endblock %}

{% block body %}
    <h1>Accès refusé</h1>
    <p>{{ exception.message }}</p>
{% endblock %}