{# templates/login/index.html.twig #}
{% extends 'base.html.twig' %}
{% block title %} Connexion {% endblock %}

{% block breadcrumb %} 
    <li class="active">Connexion</li> 
{% endblock %}

{% block header %} 
    Connexion
{% endblock %}

{% block body %}
	<div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
		<div class="panel panel-default">
			<div class="panel-body">
				<form action="{{ path('app_login') }}" method="post">
					<div class="top-margin">
						<label>Numéro d'adhérent<span class="text-danger">*</span></label>
						<input class="form-control" type="text" id="username" name="_username" value="{{ last_username }}">
					</div>
					<div class="top-margin">
						<label>Mot de passe <span class="text-danger">*</span></label>
						<input type="password" class="form-control" id="password" name="_password">
					</div>

					<hr>

					{# If you want to control the URL the user is redirected to on success
					<input type="hidden" name="_target_path" value="/account"> #}
					<div class="row">
						<div class="col-lg-4 text-right">
							<button class="btn btn-action" type="submit">Connexion</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
			

{% endblock %}