/* Header */
#head { background:none; 
	border-style: solid; 
	border-image : linear-gradient(to right, #AD2D2E, #D96071, #E19137, #F1CC45, #5DB2DE, #5EA84A) 1 1 100%; 
	min-height:520px; 
	text-align: center; 
	font-family:'bariol-regular', sans-serif; 
	border-width: 3px;
	color : black;
	margin-bottom : 10px;
}
#head.secondary { height:100px; min-height: 100px; padding-top : 25px; font-size:30px;  }
	#head .lead { font-family:"bariol-light"; font-size:44px; margin-bottom:6px; color:white; line-height:1.15em; } 
	#head .tagline { color:rgba(255,255,255,0.75); margin-bottom:25px; }
		#head .tagline a { color:#fff; } 
	#head .btn { margin-bottom:10px;}
	#head .btn-default { text-shadow: none; background:transparent; color:rgba(255,255,255,.5); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.5); background: transparent; }
		#head .btn-default:hover,
		#head .btn-default:focus { color:rgba(255,255,255,.8); -webkit-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); -moz-box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); box-shadow:inset 0px 0px 0px 3px rgba(255,255,255,.8); background: transparent; }
		#head .btn-default:active, 
		#head .btn-default.active { color:#fff; -webkit-box-shadow:inset 0px 0px 0px 3px #fff; -moz-box-shadow:inset 0px 0px 0px 3px #fff; box-shadow:inset 0px 0px 0px 3px #fff; background: transparent; }

@media (max-width: 767px) {
	#head { min-height:420px; padding-top:160px; }
	#head .lead { font-size: 34px; }
}

/* Autohide navbar */
.slideUp { top:-114px; }
.headroom { -webkit-transition: all 0.4s ease-out; -moz-transition: all 0.4s ease-out; -o-transition: all 0.4s ease-out; transition: all 0.4s ease-out; }


/* Highlights (in jumbotron in most cases) */
.highlight { margin-top:40px; }
	.h-caption { text-align: center; } 
	.h-caption i { display:block; font-size: 54px; color:#382526; margin-bottom:36px; }
	.h-caption h4 { color:#382526; font-size: 16px; font-weight: bold; margin-bottom:20px; }
	.h-body { }


/* Typography */
h1, h2, h3, h4, h5, h6 { font-family:'bariol-regular', sans-serif; }
h1, .h1, h2, .h2, h3, .h3 { margin-top:30px; } 
blockquote { font-style: italic; font-family: 'bariol-light', sans-serif; color:#999; margin:30px 0 30px; }
label { color: black; }
.thin { font-weight:300; }
.page-title { margin-top:20px; font-weight:300; }
.text-muted { color:#888; }
.breadcrumb { background:none; padding:0; margin:30px 0 0px 0; }
ul.list-spaces li{ margin-bottom:10px; }

/* Helpers */
.container-full { margin: 0 auto; width: 100%; }
.top-space { margin-top: 60px; }
.top-margin { margin-top:20px; }

img { max-width:100%; }
img.pull-right { margin-left: 10px; }
img.pull-left { margin-right: 10px; }
#map { width:100%; height:280px; }
#social { margin-top:50px; margin-bottom:100px; }
	#social .wrapper { width:340px; margin:0 auto; }
@media (max-width: 1500px) {
	#social { margin-top:50px; margin-bottom:50px; }
	}

/* Main content block */
.maincontent { }

/* Sidebars */
.sidebar { padding-top:36px; padding-bottom:30px; }
	.sidebar .widget { margin-bottom:20px; }
	.sidebar h1, .sidebar .h1, .sidebar h2, .sidebar .h2, .sidebar h3, .sidebar .h3 { margin-top:20px; } 

/* Footer */
.footer1 { background:linear-gradient(to right, #AD2D2E, #D96071, #E19137, #F1CC45, #5DB2DE, #5EA84A) ; padding: 30px 0 0 0; font-size: 12px; color: #fff; }
	.footer1 a { color: #fff; }
		.footer1 a:hover {color: #fff; }
	.footer1 .widget { margin-bottom:30px; }		
	.footer1 .widget-title { font-size: 17px; font-weight: bold; color: #fff; margin: 0 0 20px; }
	.footer1 .entry-meta { border-top: 1px solid #fff; border-bottom: 1px solid #ccc; margin: 0 0 35px 0; padding: 2px 0; color: #888888; font-size: 12px; font-size: 0.75rem; }
		.footer1 .entry-meta a { color: #fff; }
		.footer1 .entry-meta .meta-in { border-top: 1px solid #fff; border-bottom: 1px solid #ccc; padding: 10px 0; }
	.follow-me-icons { font-size:30px; }		
		.follow-me-icons i { float:left; margin:0 10px 0 0; }		

.footer2 { 
	background:linear-gradient(to right, #AD2D2E, #D96071, #E19137, #F1CC45, #5DB2DE, #5EA84A) ;
	padding: 15px 0; 
	color: #fff; 
	font-size: 12px; }
	.footer2 a { color: #fff; }
		.footer2 a:hover { color: #fff; }
		.footer2 p { margin: 0; }

	.widget-simplenav { margin-left:-5px; }		
	.widget-simplenav a{ margin:0 5px; }		




/* Ajout */
.navbar-header{
    width : 20%;
}
.navbar-toggle{
	position : absolute;
	right:0;
	top : 20px !important ;
}
@media (max-width: 767px) {
	.navbar-header{width:200px !important}
}

a{
	color : #D96071;
}
a:hover{
	color : #D96071;
}


/* caroussel */

.carousel {
    display: flex;
    float: none;
    overflow: hidden;
    height: 100%; /* Définissez la hauteur souhaitée */
}

.carousel img {
    width: 100%;
    object-fit: cover;
}

.carousel .prev,
.carousel .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    cursor: pointer;
	color:black;
}

.carousel .prev {
    left: 10px;
}

.carousel .next {
    right: 10px;
}



/* page d'annonce */
#firstsection {
    float: left;
	width:33%;
	margin-right:1%
}

#secondsection {
    float: left;
    width: 33%;
}

#thirdsection {
    float: left;
    width: 33%;
}


@media (max-width: 767px) {
	#firstsection{width : 60%}
	#secondsection,#thirdsection { width :100%; margin : auto; padding:auto }
}

.soustitre{
	vertical-align: top;
  }


/* carte liste annonces*/
.card{
	width : 100%;
}


.body{
	min-height:50vh !important;
}