{# templates/mentions_legales.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}Mentions Légales{% endblock %}


{% block header %} Mentions légales {% endblock %}

{% block body %}
    <h1>Éditeur du site</h1>
    <p>Association SEL Moment <br>
    Présidente : ...
    </p>

    <h1>Conditions générales d'utilisation</h1>
    L’utilisation de ce site est réservée à un usage strictement personnel de l’utilisateur. 
    Toute reproduction ou représentation de ce site, en tout ou partie, à d’autres fins sur un quelconque support, est interdite sans l’autorisation expresse de l'association SEL Moment. 
    Les liens hypertextes de ce site en direction d’autres sites Internet ne sauraient engager la responsabilité de l'association SEL Moment. 
    La mise en œuvre d’un lien hypertexte vers le site ... ne pourra se faire que sous réserve de l’autorisation expresse et préalable de l'association SEL Moment.
{% endblock %}