<h1>Nouvelle inscription au site</h1>

<p>Un nouveau membre s'est inscrit à SELMoment! </p>
<p><b>Nom</b> : {{ user.nom }}</p>
<p><b>Prénom</b> : {{ user.prenom }}</p>

<p><a href="https://selmoment.fr">Aller au site</a></p>
